extends layout

block pageName
  | #{cl.toStringSync()}

block content
  - var students = studentBody.getClassMembersSync(cl).toArraySync();
  h3 Members
  ul
    each student in students
      li= student.toStringSync()
  h3 Attendance
  table
    thead
      tr
        th(colspan="2") day
        each student in students
          th= student.toStringSync()
    tbody
      each session in cl.getSessionsSync().toArraySync()
        tr
          th= session.getTimeSync()
          th
            form(method="POST",action="/api/removeSession")
              input(type="hidden",name="classid",value=cl.hashCodeSync())
              input(type="hidden",name="date", value=session.getTimeSync())
              input(type="submit",value="\u2717")
          each student in students
            td(class=cl.wasPresentSync(session, student)?"present":"absent")
              form(method="POST", action="/api/setAttendance")
                input(type="hidden", name="classid", value=cl.hashCodeSync())
                input(type="hidden", name="studentid", value=student.hashCodeSync())
                input(type="hidden", name="date", value=session.getTimeSync())
                input(type="hidden", name="present", value=cl.wasPresentSync(session, student) ? "absent" : "present")
                input(type="submit", value=cl.wasPresentSync(session, student) ? "present" : "absent")
      tr
        form(method="POST", action="/api/addSession")
          input(type="hidden", name="classid", value=cl.hashCodeSync())
          th
            input(type="text", name="date", size="1", placeholder="#")
          th
            input(type="submit", value="+")
  h3 Remove
  form(method="POST", action="/api/removeClass")
    input(type="hidden", name="classid", value=cl.hashCodeSync())
    input(type="submit", value="remove this class")